<?xml version="1.0" encoding="iso-8859-1" standalone="no"?>
<adtf:scheduling_info xmlns:adtf="adtf">
 <handle flags="0" name="adtf.can_signal_provider_worker" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.console_device_thread" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.core.message_bus.channelinfo_thread" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.lin_signal_provider_worker" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.most_signal_provider_worker" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.signalregistry_worker" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.transport_widget_thread" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.unnamed.hdsequencer_thread" priority="0" processoraffinity="0" />
 <handle flags="0" name="adtf.unnamed.looper_thread" priority="0" processoraffinity="0" />
</adtf:scheduling_info>
